<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <input
      class="form-control"
      placeholder="nome do usuário"
      [(ngModel)]="user"
      name="user"
      #userField="ngModel"
      required
    />
    <app-message *ngIf="userField.invalid && userField.touched" message="usuário obrigatório"></app-message>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="senha"
      [(ngModel)]="password"
      name="password"
      #passwordField="ngModel"
      required
    />
    <app-message *ngIf="passwordField.invalid && passwordField.touched" message="senha obrigatória"></app-message>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
</form>
